<label>Choose background</label>
<button {{action "updateBackgroundColor" "transparent"}} class="color-picker-button" aria-label="transparent background"></button>
<button {{action "updateBackgroundColor" "#bbb"}} class="color-picker-button" aria-label="grey background"></button>